---
title: " Archipelagic Research Program"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.3"
  overlay_image: /assets/images/divers_turtle.JPG
  actions:
    - label: "Learn about PIFSC"
      url: "https://www.fisheries.noaa.gov/about/pacific-islands-fisheries-science-center"
    - label: "Learn about NCRMP"
      url: "https://www.coris.noaa.gov/monitoring/#"
  caption: "Photo credit: NOAA Fisheries/Lori Luers"
excerpt: "Our program is funded by Coral Reef Conservation Program (CRCP) projects, with a primary focus on the National Coral Reef Monitoring Program (NCRMP).  We work in the Ecosystem Sciences Division (ESD, formerly CREP) of the Pacific Islands Fisheries Science Center (PIFSC) at NOAA in Honolulu, Hawai'i."
intro: 
  - excerpt: 'We conduct long-term monitoring of coral reef ecosystems with interdiscplinary surveys that encompass various benthic, oceanographic, climate change impacts, and fish surveys around Pacific Islands regions to provide high quality data for the public, stakeholders, and managers.' 
feature_row:
  - image_path: https://www.fisheries.noaa.gov/s3//2024-08/5472x3648-NCRMP-Hawaii-potatoe-chip-coral-Kapou-Fisheries-PIFSC.jpg
    image_caption: "2024 HA NCRMP. Credit: NOAA Fisheries (Permit #PMNM-2024-001)"  
    alt: "Porites lichen colony"
    title: "Benthic surveys"
    excerpt: "Collecting colony-level and benthic cover observations using photogrammetry transects, photoquadrat images, and diver underwater visual survey."
    url: /benthic-surveys/
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: "https://www.fisheries.noaa.gov/s3//2024-08/5472x3648-NCRMP-coral-Hawaii-Fishereis-PIFSC.JPG"
    image_caption: "2024 HA NCRMP. Credit: NOAA Fisheries"  
    alt: "Diver secures temperature logger between two coral heads"
    title: "Oceanography & Climate Change "
    excerpt: "Monitoring ocean condition and chemistry using various instruments and methodologies."
    url: /occ-surveys/
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: https://www.fisheries.noaa.gov/s3//2024-07/5472x3648-NCRMP-Maui-Coral-Dascyllus-Fisheries-PIFSC.JPG
    image_caption: "2024 HA NCRMP. Credit: NOAA Fisheries"  
    alt: "School of Hawaiian dascyllus hover above coral head off of Maui"
    title: "Reef Fish Monitoring"
    excerpt: "Studying fish communities over time using a NCRMP Stationary-Point-Count (SPC) cylinder methodology since 2013."
    url: /fish-surveys/
    btn_label: "Read More"
    btn_class: "btn--primary"
---
{% include feature_row id="intro" type="center" %}
<center><h2>Research Themes</h2></center>
{% include feature_row %}
