---
title: " Archipelagic Research Program"
layout: splash
header:
  overlay_color: "#001743"
  overlay_filter: "0.3"
  overlay_image: /assets/images/divers_turtle.JPG
  actions:
    - label: "Learn about PIFSC"
      url: "https://www.fisheries.noaa.gov/about/pacific-islands-fisheries-science-center"
    - label: "Learn about NCRMP"
      url: "https://www.coris.noaa.gov/monitoring/#"
  caption: "Photo credit: NOAA Fisheries/Lori Luers"
excerpt: 'Since 2000, we have collected data to support the protection and management of U.S. Pacific coral reefs. Based in Honolulu, Hawai‘i, we work within the Ecosystem Sciences Division (ESD) at NOAA’s <a href ="https://www.fisheries.noaa.gov/about/pacific-islands-fisheries-science-center" target = "_blank">Pacific Islands Fisheries Science Center</a> (PIFSC). Our work is primarily funded by projects under the <a href="https://coralreef.noaa.gov/" target="_blank">Coral Reef Conservation Program</a> (CRCP), with a focus on the Pacific National Coral Reef Monitoring Program (NCRMP).'
intro: 
  - excerpt: 'Following NOAA Fisheries'' dedication to stewardship of the nation''s ocean resources, we use rigorous scientific research and an ecosystem-based approach to provide critical data on coral reef <a href ="https://www.fisheries.noaa.gov/pacific-islands/ecosystems/coral-health-and-threats-pacific-islands">communities</a>, fish populations, ocean conditions, and chemistry. Our long-term, high-quality data supports scientists, resource managers, and the public, offering valuable tools like the <a href = "https://ncrmp.coralreef.noaa.gov/">NCRMP Data Viz Tool</a>.'
feature_row:
  - image_path: /assets/images/benthic-theme-photo.jpg
    image_caption: "2024 HA NCRMP. Credit: NOAA Fisheries (Permit #PMNM-2024-001)"  
    alt: "Porites lichen colony"
    title: "Benthic Surveys"
    excerpt: "Collecting colony-level and benthic cover observations using photogrammetry transects, photoquadrat images, and diver underwater visual survey."
    buttons:
    - url: /benthic-surveys/
      btn_label: "Read More"
      btn_class: "btn--primary"
  - image_path: /assets/images/occ-theme-photo.jpg
    image_caption: "2024 HA NCRMP. Credit: NOAA Fisheries"  
    alt: "Diver secures temperature logger between two coral heads"
    title: "Oceanography & Climate Impacts "
    excerpt: "Monitoring ocean conditions and chemistry using various instruments and methodologies."
    buttons:
    - url: /occ-surveys/
      btn_label: "Read More"
      btn_class: "btn--primary"
  - image_path: /assets/images/fish-theme-photo.jpg
    image_caption: "2024 HA NCRMP. Credit: NOAA Fisheries"  
    alt: "School of Hawaiian dascyllus hover above coral head off of Maui"
    title: "Monitoring Reef Fish"
    excerpt: "Studying fish communities over time, providing long-term datasets in support of effective management outcomes."
    buttons:
    - url: /fish-surveys/
      btn_label: "Read More"
      btn_class: "btn--primary"
---
{% include feature_row id="intro" type="center" %}
<center><h2>Research Themes</h2></center>
{% include feature_row %}
