---
layout: splash
title: "{{ page.title }}"
description: "{{ page.description }}"
excerpt: {{ page.excerpt }}
---

<div class="survey-content">
  <h1>{{ page.title }}</h1>
  <p>{{ page.description }}</p>
  <!-- You can add more content or structure for the survey -->
</div>

<h2>{{ page.survey_type }}</h2>
<p>
  <img src="{{ page.main_image }}" width="250" height="auto" align="left" hspace="10" vspace="10" />
  {{ page.survey_description }}
</p>
<br>
<h3>How to download and use our data</h3>
<p>{{ page.how_to_download }}</p>

{% comment %} Prepare feature rows for rendering {% endcomment %}
{% assign feature_row2 = page.feature_row2 | default: site.data.survey_template.survey_template[0].feature_row2 %}
{% assign feature_row3 = page.feature_row3 | default: site.data.survey_template.survey_template[0].feature_row3 %}
{% assign feature_row4 = page.feature_row4 | default: site.data.survey_template.survey_template[0].feature_row4 %}
{% assign feature_row5 = page.feature_row5 | default: site.data.survey_template.survey_template[0].feature_row5 %}

{% include feature_row id="feature_row2" type="left" %}
{% include feature_row id="feature_row3" type="right" %}
{% include feature_row id="feature_row4" type="left" %}
{% include feature_row id="feature_row5" type="right" %}