---
layout: single
title: "{{ page.title }}"
description: "{{ page.description }}"
excerpt: {{ page.excerpt }}
sidebar:
  nav: "docs"
---

<div class="survey-content">
  <h1>{{ page.title }}</h1>
  <p>{{ page.description }}</p>
  <!-- You can add more content or structure for the survey -->
</div>

<h2>{{ page.survey_type }}</h2>
<p>
  <img src="{{ page.main_image }}" width="250" height="auto" align="left" hspace="10" vspace="10" />
  {{ page.survey_description }}
</p>
<br>


<h3>How to download and use our data</h3>
<p>{{ page.how_to_download }}</p>



<div class="feature__wrapper">

  
  <div class="feature__item--left">
    <div class="archive__item">
      
        <div class="archive__item-teaser">
          <img src="/assets/images/default-sop.jpg"
               alt="sops">
          
        </div>
      

      <div class="archive__item-body">
        
          <h2 class="archive__item-title">SOPs</h2>
        

        
          <div class="archive__item-excerpt">
            <p>Standard operating Procedures detailing methods</p>

          </div>
        

        
          <p><a href="https://example.com/sops" target = "_blank" class="btn btn--primary">Download</a></p>
        
      </div>
    </div>
  </div>


</div>



<div class="feature__wrapper">


  <div class="feature__item--left">
    <div class="archive__item">
      
        <div class="archive__item-teaser">
          <img src="/assets/images/default-datasheets.jpg"
               alt="data sheets">
          
        </div>
      

      <div class="archive__item-body">
        
          <h2 class="archive__item-title">Data Sheets</h2>
        

        
          <div class="archive__item-excerpt">
            <p>Details about data sheets</p>

          </div>
        
          <p><a href="https://example.com/sops" target = "_blank" class="btn btn--primary">Download</a></p>

        
      </div>
    </div>
  </div>


</div>



<div class="feature__wrapper">


  <div class="feature__item--left">
    <div class="archive__item">
      
        <div class="archive__item-teaser">
          <img src="/assets/images/default-rawdata.jpg"
               alt="access raw data">
          
        </div>
      

      <div class="archive__item-body">
        
          <h2 class="archive__item-title">Access Raw data</h2>
        

        
          <div class="archive__item-excerpt">
            <p>Browse raw data for datastream</p>

          </div>
        
          <p><a href="https://example.com/sops" target = "_blank" class="btn btn--primary">Download</a></p>

        
      </div>
    </div>
  </div>


</div>



<div class="feature__wrapper">


  <div class="feature__item--left">
    <div class="archive__item">
      
        <div class="archive__item-teaser">
          <img src="/assets/images/default-rcode.jpg"
               alt="R code">
          
        </div>
      

      <div class="archive__item-body">
        
          <h2 class="archive__item-title">R code for processing data</h2>
        

        
          <div class="archive__item-excerpt">
            <p>See our team scripts for processing raw data</p>

          </div>
        
          <p><a href="https://example.com/sops" target = "_blank" class="btn btn--primary">Download</a></p>

        
      </div>
    </div>
  </div>


</div>